@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

:root {
    --grey-default: #262626;
    --header-font: "DM Sans";
    --menu-font: "Roboto";
    --backup-font: sans-serif;
    --pink-background: #e8bfc0;
    --max-window-width: 1800px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
}

body {
    width: 100%;
    overflow-x: hidden;
}

li {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration-line: none;
}

p {
    font-family: var(--header-font), var(--backup-font);
}

#navback {
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid black;
}

#navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: var(--max-window-width);
}

#nav-header {
    position: relative;
    display: flex;
    font-size: 1.25em;
    margin: 0;
    padding: 0px 10px;
}

#nav-ul {
    width: 30vw;
    display: flex;
    margin-right: 0;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    position: relative;
}

.nav-link{
    display: flex;  
    position: relative;
    font-size: 1.25em;
    margin: 0;
}

.nav-li {
    padding: 10px;
    position: relative;
}

.nav-li:hover::before{
    transform: scale(1, 1);
    transform-origin: top left;
    background-color: #ffbf00;
}

.nav-li::before{
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00ff00;
    transform: scale(0, 0);
    transform-origin: bottom left;
    z-index: -1;
    transition: transform .3s ease-in-out;
}

.nav-link,
#nav-header {
    color: black;
    font-family: var(--menu-font), var(--backup-font);
    letter-spacing: 2px;
}

.section {
    position: relative;
    height: 100vh;
    margin: auto;
    min-height: 650px;
    max-height: 1400px;
}

.sub-section {
    max-width: var(--max-window-width);
    margin: auto;
}

.flyingPic {
    position: absolute;
    margin: auto;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    z-index: 1;
    left: 30%;
}

#ball1 {
    animation: move 10s infinite alternate ease-in-out;
    offset-path: path(
        "m-0.47616,8.33333c7.80337,14.28571 17.06987,26.19048 30.72577,30c13.6559,3.80952 35.60288,2.85714 43.89396,0.47619c8.29108,-2.38095 22.9224,-10.47619 19.50843,-18.09524c-3.41397,-7.61905 -4.87711,-9.52381 -11.21734,-9.04762c-6.34024,0.47619 -13.6559,6.19048 -12.68048,10.95238c0.97542,4.7619 3.41397,18.09524 13.16819,19.04762c9.75421,0.95238 28.28722,4.28571 44.38167,-0.95238c16.09445,-5.2381 24.38553,-10 34.13974,-15.71429c9.75421,-5.71429 20.97156,-17.61905 28.28722,-12.85714c7.31566,4.7619 11.21734,11.42857 11.70506,14.28571c0.48771,2.85714 2.43855,17.61905 -3.90169,12.38095c-6.34024,-5.2381 -7.31566,-8.09524 -8.29108,-10.47619c-0.97542,-2.38095 0.48771,-10.47619 6.34024,-11.42857c5.85253,-0.95238 23.89782,-4.28571 26.82408,0.95238c2.92626,5.2381 3.41397,3.80952 8.77879,12.38095c5.36482,8.57143 72.66888,17.61905 82.91081,13.33333c10.24192,-4.28571 34.62745,-2.85714 38.52914,-10.47619c3.90169,-7.61905 22.43469,-20.47619 12.19277,-22.38095c-10.24192,-1.90476 -11.70506,-4.7619 -17.55758,1.90476c-5.85253,6.66667 -5.36482,4.7619 -5.36482,12.38095c0,7.61905 -1.95084,9.52381 6.82795,13.80952c8.77879,4.28571 51.20962,3.33333 54.13588,2.85714c2.92626,-0.47619 20.48385,-4.28571 34.62745,-13.33333c14.14361,-9.04762 24.38553,-14.7619 34.13974,-14.28571c9.75421,0.47619 6.34024,-0.47619 18.04529,10c11.70506,10.47619 12.19277,11.42857 12.19276,11.19048c0,0.2381 8.77879,14.04762 19.50843,8.80952c10.72963,-5.2381 14.63132,-11.42857 15.60674,-14.28571c0.97542,-2.85714 3.90169,-16.19048 -6.82795,-10.47619c-10.72963,5.71429 -10.72963,10.95238 -9.75421,13.33333c0.97542,2.38095 3.90169,7.61905 12.68048,4.28571c8.77879,-3.33333 10.24192,-9.52381 19.50843,-8.57143c9.2665,0.95238 5.36482,4.28571 23.41011,6.66667c18.04529,2.38095 9.75421,2.38095 21.45927,-3.33333c11.70506,-5.71429 4.87711,-8.09524 4.8771,-8.33333"
    );
}

#ball2 {
    transform: rotateY(150deg);
    animation: move 7s infinite alternate-reverse ease-in-out;
    offset-path: path(
        "m0.86954,28.47826c9.67767,-9.56522 19.79523,-18.69565 29.4729,-11.73913c9.67767,6.95652 21.9947,20.86957 35.63141,20.86957c13.63671,0 24.63406,-2.17391 34.75162,-3.91304c10.11756,-1.73913 13.19682,-8.26087 34.31173,-12.17391c21.11491,-3.91304 61.14526,-13.47826 75.22187,-2.17391c14.07661,11.30435 13.19682,11.73913 14.07661,16.95652c0.87979,5.21739 -1.31968,8.26087 -4.39894,8.26087c-3.07926,0 -11.43724,0.86957 -11.43724,-7.3913c0,-8.26087 1.75958,-26.08696 14.95639,-24.78261c13.19682,1.30435 20.67502,-3.47826 33.87184,8.69565c13.19682,12.17391 9.23777,9.13043 19.79523,16.08696c10.55746,6.95652 40.47024,6.52174 42.22982,6.08696c1.75958,-0.43478 35.19152,-3.91304 42.66971,-10.43478c7.4782,-6.52174 11.43724,-9.56522 15.83618,-14.78261c4.39894,-5.21739 5.27873,-4.34783 4.39894,-8.69565c-0.87979,-4.34783 -9.23777,-13.04348 -14.07661,-5.21739c-4.83883,7.82609 -4.83883,9.56522 -5.27873,15.21739c-0.43989,5.65217 3.95905,14.78261 9.23777,17.82609c5.27873,3.04348 36.07131,13.47826 51.90749,7.82609c15.83618,-5.65217 27.71332,-13.91304 42.22982,-14.34783c14.5165,-0.43478 19.35533,1.30435 31.23247,3.04348c11.87714,1.73913 1.75958,0.86957 26.83353,6.52174c25.07396,5.65217 27.71332,3.91304 38.27078,-0.43478c10.55746,-4.34783 15.39629,-7.82609 15.39629,-14.78261c0,-6.95652 4.39894,-13.91304 10.11756,-9.56522c5.71862,4.34783 2.63936,8.26087 11.43724,13.91304"
    );
}

@keyframes move {
    0% {
        offset-distance: 0%;
    }

    100% {
        offset-distance: 100%;
    }
}

.centered-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--header-font), var(--backup-font);
    animation: arise 1s;
    top: 40%;
}

#welcome-header {
    font-size: 6em;
    text-align: center;
}

#welcome-subheader {
    opacity: 0;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

#welcome-details {
    position: absolute;
    width: 100%;
    bottom: 5%;
    text-align: justify;
    opacity: 0;
    animation: fadeinMain 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#welcome-details p {
    width: 400px;
    padding: 10px;
    font-size: 1em;
}

#seperator {
    display: flex;
    position: relative;
    top: 0%;
    width: 100vw;
    object-fit: cover;
    height: 400px;
    z-index: -1;
}

.secondary-headers {
    font-family: var(--header-font), var(--backup-font);
    font-size: 28px;
    padding: 10px 0px;
}

#about {
    display: grid;
    grid-template-areas: "text image";
    margin: auto;
}

#about-img1,
#contact-img1 {
    grid-area: image;
    position: relative;
    height: 600px;
}

#about-content {
    grid-area: text;
    width: 75%;
    padding: 20px 0px;
}

#about-header {
    position: relative;
    padding-bottom: 10px;
    opacity: 0;
    left: -75px;
}

.about-detail {
    position: relative;
    font-size: 20px;
    padding-top: 10px;
    text-align: justify;
    opacity: 0;
    left: -75px;
}

.animate #about-header {
    animation: animate-about 0.5s ease-in-out both;
}

.animate .about-detail {
    animation: animate-about 0.5s ease-in-out both;
    animation-delay: 0.5s;
}

@keyframes animate-about {
    0% {
        left: -75px;
        opacity: 0;
        color: red;
    }

    100% {
        left: 0px;
        opacity: 1;
        color: black;
    }
}

#projects {
    background-color: var(--pink-background);
    max-width: 100vw !important;
    padding: 20px 0px;
}

#project-contents,
#interest-container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: var(--max-window-width);
}

#project-title {
    padding: 20px 0px;
}

#project-title h1 {
    position: relative;
    text-align: center;
    margin: auto;
    font-size: 5.5em;
}

#project-title p {
    position: relative;
    font-size: 2em;
    padding: 0px 10px;
    text-align: center;
    margin: auto;
}

#project-holders {
    display: grid;
    grid-template-areas: "project1 project2 project3 project4";
    grid-auto-columns: min-content;
    justify-content: center;
    grid-gap: 10px;
    align-items: flex-start;
}

.project-display {
    display: inline-block;
    position: relative;
    top: 20px;
    opacity: 0;
}

#proj0 {
    grid-area: project1;
}

.animate #proj0 {
    animation: animate-projects 0.5s ease-in-out both;
}

#proj1 {
    grid-area: project2;
}

.animate #proj1 {
    animation: animate-projects 0.5s ease-in-out both;
    animation-delay: 0.2s;
}

#proj2 {
    grid-area: project3;
}

.animate #proj2 {
    animation: animate-projects 0.5s ease-in-out both;
    animation-delay: 0.4s;
}

#proj3 {
    grid-area: project4;
}

.animate #proj3 {
    animation: animate-projects 0.5s ease-in-out both;
    animation-delay: 0.6s;
}

@keyframes animate-projects {
    0% {
        opacity: 0;
        top: 20px;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        top: 0px;
        transform: scale(1);
    }
}

.img-holder {
    width: 300px;
    height: 300px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 5px;
    border: 5px solid var(--grey-default);
}

.project-img {
    positon: relative;
    object-fit: cover;
    border-radius: inherit;
    width: inherit;
    height: inherit;
    overflow: hidden;
    transition: 0.1s ease-in-out;
}

.overlay {
    positon: relative;
    word-wrap: break-word;
    background: var(--grey-default);
    margin: auto;
    width: inherit;
}

.overlay::before {
    content: "";
    position: absolute;
    background-color: var(--grey-default);
    width: 100%;
    height: 40px;
    bottom: 10px;
    z-index: 0;
}

.overlay p {
    position: relative;
    color: white;
    margin: 5px 0px;
    bottom: 10px;
    text-align: center;
    transition: 0.1s ease-in-out;
    font-size: 1em;
}

.overlay p::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    margin: auto;
    justify-content: center;
    background-color: white;
    transition: 0.1s ease-in-out;
}

.project-display:hover .project-img {
    transform: scale(1.05);
}

.project-display:hover p {
    transform: translateY(-2px);
}

.project-display:hover p::after {
    width: 75%;
}

#interests {
    max-width: 100vw !important;
    background-color: var(--grey-default);
    transition: 1s ease;
}

#interests::before,
#interests::after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 10px;
    background: repeating-linear-gradient(
        90deg,
        rgb(255, 0, 0) 0px,
        rgb(255, 0, 0) 100px,
        rgb(255, 165, 0) 100px,
        rgb(255, 165, 0) 200px,
        rgb(255, 255, 0) 200px,
        rgb(255, 255, 0) 300px,
        rgb(0, 128, 0) 300px,
        rgb(0, 128, 0) 400px,
        rgb(0, 0, 255) 400px,
        rgb(0, 0, 255) 500px,
        rgb(128, 0, 128) 500px,
        rgb(128, 0, 128) 600px
    );
}

#interests-header {
    color: white;
    font-size: 4em;
    margin-left: 20%;
    padding-top: 10px;
}

.interest-item {
    font-size: 1.5em;
    margin-left: 20%;
    padding: 10px;
    color: white;
}

.interest-item:hover {
    margin-left: calc(20% + 10px);
    transition: 0.2s ease-in-out;
}

.animate .interest-item {
    animation: interestAnimated 0.5s ease-in-out both;
}

#i1 {
    color: red;
}

#i2 {
    color: orange;
    animation-delay: 0.3s;
}

#i3 {
    color: yellow;
    animation-delay: 0.4s;
}

#i4 {
    color: green;
    animation-delay: 0.5s;
}

#i5 {
    color: blue;
    animation-delay: 0.6s;
}

#i6 {
    color: purple;
    animation-delay: 0.7s;
}

@keyframes interestAnimated {
    100% {
        color: white;
    }
}

#contact {
    padding: 30px 0px;
    position: relative;
}

#contact-background {
    position: absolute;
    height: 50%;
    z-index: -1;
    width: 100vw;
    bottom: 0;
}

#contact-container {
    display: grid;
    grid-template-areas:
        "cont-title cont-title"
        "cont-img cont-text";
    grid-column-gap: 50px;
    justify-content: center;
}

#contact-header {
    grid-area: cont-title;
    font-size: 3em;
}

#contact-img1 {
    grid-area: cont-img;
    left: -20px;
    opacity: 0;
}

#contact-holder {
    position: relative;
    grid-area: cont-text;
    right: -20px;
    opacity: 0;
}

#contact-holder p {
    text-align: start;
}

.animate #contact-img1,
.animate #contact-holder {
    animation: contact-animate 1s ease-in-out both;
}

#contact-links {
    display: flex;
    justify-content: start;
}

#contact-links a {
    font-family: var(--menu-font), var(--backup-font);
    color: black;
    font-weight: bold;
    margin: 10px 10px 0px 0px;
    font-size: 2em;
    text-align: start;
}

#contact-links a:hover {
    color: deepskyblue;
}

@keyframes contact-animate {
    100% {
        opacity: 1;
        left: 0px;
        right: 0px;
    }
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

#footer-container {
    background-color: black;
    width: inherit;
    padding: 50px 20px;
}

footer p {
    text-align: center;
    font-family: var(--menu-font), var(--backup-font);
    color: white;
    font-size: 2em;
}

#date {
    font-size: 1.75em;
    padding-top: 5px;
}

#bt {
    padding-top: 10px;
    font-size: 1.5em;
    color: yellow;
}

#bt:hover {
    color: red;
}

@keyframes fadeinMain {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes arise {
    0% {
        top: 45%;
        opacity: 0;
        color: pink;
    }

    100% {
        opacity: 1;
        top: 40%;
    }
}

@media only screen and (max-width: 1200px) {
    #welcome-header {
        font-size: 5.5em;
    }

    #project-holders {
        grid-template-areas:
            "project1 project2"
            "project3 project4";
    }
}

@media only screen and (max-width: 960px) {
    #welcome-header {
        font-size: 5.5em;
    }

    #about {
        grid-template-areas:
            "text"
            "image";
    }

    #about-content {
        width: 95%;
    }

    .img-holder {
        width: 300px;
        height: 300px;
    }

    .overlay p {
        font-size: 1.5em;
        top: -2px;
        margin-top: -5px;
    }

    #contact-container {
        display: grid;
        grid-template-areas:
            "cont-title"
            "cont-text"
            "cont-img";
        grid-column-gap: 50px;
        justify-content: center;
    }

    #contact-holder p {
        text-align: center;
    }

    #contact-links {
        justify-content: center;
        padding: 20px 0px;
    }

    #contact-links a {
        margin: 0px 5px;
    }
}

@media only screen and (max-width: 900px) {
    .centered-text {
        top: 20% !important;
    }

    #welcome-subheader {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 700px) {
    #welcome-header {
        font-size: 4em;
    }
}

@media only screen and (max-width: 500px) {
    #navback {
        display: none;
    }
}

@media only screen and (max-height: 650px) {
    #welcome-details p {
        display: none;
    }
}

@media only screen and (max-height: 500px) {
    #welcome-details p {
        display: none;
    }
}

@media only screen and (max-device-width: 1200px) {
    #seperator {
        top: 5%;
    }

    #welcome-section {
        max-height: 100vh;
    }

    #welcome-header {
        top: 15%;
        animation: arise-mobile 1s;
    }

    #welcome-subheader {
        font-size: 4em;
        opacity: 1;
        top: 15%;
        padding-top: 10px;
        animation: arise-mobile 1s;
    }

    #welcome-details p {
        width: 600px;
        font-size: 2.5em;
    }

    #about-header {
        font-size: 2.5em;
        padding: 20px;
    }

    .about-detail {
        font-size: 2em;
        padding: 20px;
    }

    #project-holders {
        grid-template-areas:
            "project1 project2"
            "project3 project4";
    }

    .img-holder {
        width: 400px;
        height: 400px;
    }

    .overlay p {
        font-size: 2em;
        top: -2px;
        margin-top: -5px;
    }

    .interest-item {
        font-size: 2em;
    }

    #contact-container {
        display: grid;
        grid-template-areas:
            "cont-title"
            "cont-text"
            "cont-img";
        grid-column-gap: 0px;
        justify-content: center;
    }

    #contact-header {
        font-size: 2.5em;
        text-align: center;
        width: auto;
    }

    #contact-holder p {
        text-align: center;
        font-size: 2em;
    }

    #contact-links {
        justify-content: center;
        padding: 20px 0px;
    }

    #contact-links a {
        font-size: 4em;
        margin: 0px 5px;
    }
}

@media only screen and (max-device-width: 960px) {
    #welcome-header {
        font-size: 5.5em;
    }

    #about {
        grid-template-areas:
            "text"
            "image";
    }

    #about-content {
        width: 95%;
    }
}

@media only screen and (max-device-width: 800px) {
    #navback {
        display: none;
    }

    #welcome-header {
        font-size: 10em;
    }

    #welcome-subheader {
        font-size: 4em;
    }

    #welcome-details p {
        width: 600px;
        font-size: 2.5em;
    }
}

@keyframes arise-mobile {
    0% {
        top: 20%;
        opacity: 0;
        color: pink;
    }

    100% {
        opacity: 1;
        top: 15%;
    }
}
