@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

:root{
  --grey-default: #262626;
  --header-font: 'DM Sans';
  --menu-font: 'Roboto';
  --backup-font: sans-serif;
  --pink-background: #E8BFC0;
  --max-window-width: 1800px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: auto;
}

body{
  width: 100%;
  overflow-x: hidden;
}

li{
  list-style: none;
  padding-left: none;
}

a{
  text-decoration-line: none;
} 

p{
    font-family: var(--header-font), var(--backup-font);
}

#navback{
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid black;
}

#navbar{
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: var(--max-window-width);
}

#nav-header{
  position: relative;  
  display: flex;
  font-size: 1.25em;
  margin: 0;
}

#nav-ul{
  width: 30vw;
  display: flex;
  margin-right: 0;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  //background-color: rgba(255, 255, 255, 0.5);
}

.nav-link, #nav-header{
  padding: 10px;
  color: black;
  font-family: var(--menu-font), var(--backup-font);
  letter-spacing: 2px;
}

.nav-link:hover{
  color: rgb(180, 180, 180);  
}

.section{
  position: relative;
  height: 100vh;
  margin: auto;
  min-height: 650px;
  max-height: 1400px;
}

.sub-section{
  max-width: var(--max-window-width);
  margin: auto;
}


.text-seperator{
  position: absolute;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  z-index: 1;
  left: 30%;
}

#ball1{
  animation: move 2s infinite alternate ease-in-out;
  offset-path: path('m12,19c0,1 1,2 2,3c1,1 2.18601,2.69255 4,4c1.14727,0.8269 1.69344,1.4588 3,2c0.92388,0.38268 2,1 3,1c1,0 3,1 4,1c2,0 2.82375,0.48626 5,1c1.9465,0.45951 3,0 4,0c1,0 2,0 4,0c3,0 3.29289,-1.29289 4,-2c0.70711,-0.70711 2.01291,-0.83982 3,-1c3.12144,-0.50654 5,-2 6,-2c1,0 0.90282,-2.22421 3,-3c3.867,-1.4305 5.29289,-2.29289 6,-3c0.70711,-0.70711 1.08582,-0.42043 3,-1c3.45084,-1.04483 5,-4 6,-4c1,0 2,-1 6,-1c3,0 6,0 7,0c1,0 2,0 4,0c1,0 4.08582,-0.57957 6,0c3.45084,1.04483 7,2 8,2c1,0 1.07612,0.61732 2,1c1.30656,0.5412 4,2 5,2c1,0 2.07612,0.61732 3,1c1.30656,0.5412 2.31001,0.33749 5,2c1.203,0.7435 2.05413,0.43268 5,1c5.28799,1.01838 8,2 12,2c1,0 2,0 4,0c1,0 4,0 6,0c1,0 2.10701,-0.08099 6,-1c2.17625,-0.51374 3.69344,-1.4588 5,-2c0.92387,-0.38268 3.07613,-0.61732 4,-1c1.30656,-0.5412 3,-2 4,-3c1,-1 2.31076,-1.53492 4,-3c2.38896,-2.07193 5,-2 8,-2c1,0 2,0 7,0c3,0 6.21167,0.71412 9,3c1.09367,0.8966 2,2 3,3c1,1 3.32367,1.52016 5,3c2.703,2.38616 5.15927,3.61065 8,5c3.23892,1.5841 4.05276,3.92303 7,6c3.37029,2.37511 7.10701,1.08099 11,2c2.17625,0.51374 5,1 9,1c2,0 6,0 8,0c4,0 8.97734,-0.09544 13,-1c4.97479,-1.11866 7.22836,-1.85195 10,-3c1.30655,-0.5412 2.93414,-1.14429 5,-2c2.92157,-1.21015 5,-1 7,-2c2,-1 2.54916,-4.95517 6,-6c0.95709,-0.28978 1.61731,-1.07612 2,-2c0.5412,-1.30656 3.41885,-1.41886 5,-3c1.58115,-1.58114 1,-3 2,-3c1,0 1,-1 2,-1c1,0 4,-1 5,-1c2,0 2.13464,1.81145 5,4c2.51309,1.91948 4.4588,1.69344 5,3c0.38269,0.92388 0.61731,1.07612 1,2c0.5412,1.30656 1.41885,2.41886 3,4c3.16229,3.16228 4.93414,3.14429 7,4c2.92157,1.21015 4.38687,2.91761 7,4c1.84775,0.76537 5,1 7,1c2,0 3.15225,-0.76537 5,0c1.30655,0.54119 2,1 4,1c3,0 7,0 9,0c1,0 2,0 4,0c1,0 2.07611,0.38268 3,0c1.30655,-0.54119 1.85272,-3.1731 3,-4c1.814,-1.30745 3,-1 4,-2c1,-1 3.21167,-2.71412 6,-5c1.09366,-0.8966 2.15225,-2.23463 4,-3c1.30655,-0.5412 3,-1 5,-2c2,-1 4,-1 5,-1c1,0 3,0 4,0c2,0 5.31,0.33749 8,2c1.203,0.7435 1.69345,2.4588 3,3c0.92389,0.38268 1.31,2.33749 4,4c2.40601,1.48699 4.17697,2.34518 9,4c4.23007,1.45137 10,2 17,2c5,0 9.82443,-0.09789 11,-2c2.10294,-3.4026 0,-7 0,-10c0,-1 -1,-1 0,-1c1,0 4.92578,-0.49755 10,-1c4.97568,-0.49269 7,0 8,0c1,0 5,0 7,0c3,0 8,0 10,0c3,0 4,0 6,0c1,0 3,0 5,0c1,0 1,1 3,1c1,0 2,1 3,1c2,0 2.15225,0.23463 4,1c1.30655,0.5412 2.14935,0.47427 3,1c1.9021,1.17557 1.29291,2.29289 2,3c1.41422,1.41421 2.29291,0.29289 3,1c0.70709,0.70711 1,1 2,1c1,0 1.29291,0.29289 2,1c2.12134,2.12132 5,0 6,0c2,0 5,0 6,0c1,0 2,0 4,0c1,0 3.02673,-0.77025 4,-1c2.17627,-0.51374 3,-1 4,-1c1,0 1.17163,0.15914 5,-1c3.45087,-1.04483 4.87854,-2.49346 8,-3c0.98706,-0.16018 1.15222,-0.23463 3,-1c1.30658,-0.5412 2,-1 4,-1c1,0 3,0 9,0c4,0 8,0 9,0c1,0 2,0 4,0c3,0 4,0 6,1c2,1 3,1 5,1c1,0 1.0979,0.82443 3,2c0.85065,0.52573 1.29291,-0.29289 2,-1c0.70709,-0.70711 1,-1 1,-2c0,-1 0,-2 0,-3c0,-1 0,-4 0,-5c0,-1 -1,-1 -2,-1l0,1');
}
#ball2{
  animation: move 2s infinite alternate-reverse ease-in-out;
  offset-path: path('m6.01201,25c-1.01201,0 -1.01201,-1 -1.01201,-3c0,-3 2.54953,-4.55819 5.06003,-8c1.32315,-1.81399 1.30842,-2.29289 2.02401,-3c0.7156,-0.70711 5.06003,0 12.14408,0c5.06003,0 9.2592,-0.52573 10.12007,0c1.92495,1.17557 2.15861,2.5695 6.07204,4c2.12236,0.77579 3.75871,4.21168 6.07204,7c1.81472,2.18734 4.24059,3.88152 6.07204,7c1.13582,1.934 2.23823,2.71412 5.06003,5c1.1068,0.8966 3.89899,4.1731 5.06003,5c1.83577,1.30745 4.07265,1.49269 9.10806,1c5.13513,-0.50245 8.68887,-2.58578 10.12007,-4c0.7156,-0.70711 0,-2 0,-3c0,-1 0,-3 0,-7c0,-2 -1.4312,-4.58579 0,-6c0.7156,-0.70711 1.90111,-1.49346 5.06003,-2c3.99576,-0.64073 6.07204,-1 8.09606,-1c3.03602,0 5.06003,0 7.08405,2c2.02401,2 4.74979,3.4588 6.07204,4c0.93497,0.38268 2.03575,-0.37282 8.09606,0c8.14329,0.50097 17.20412,1 24.28817,1c1.01201,0 2.02401,0 3.03602,0c1.01201,0 5.09924,-0.48055 8.09606,0c3.15892,0.50654 7.81672,2.22273 11.13208,6c1.87545,2.13675 2.48832,2.69344 3.03602,4c0.38729,0.92388 1.21331,1.46763 4.04803,0c4.48207,-2.32053 7.47556,-6.91761 10.12007,-8c1.86995,-0.76537 4.0751,-1.77025 5.06003,-2c2.20238,-0.51374 4.64915,-2.51301 7.08405,-4c2.72229,-1.66251 4.04803,-1 7.08405,-1c4.04803,0 11.13208,0 16.19211,0c3.03602,0 5.06003,0 6.07204,0c2.02401,0 4.19491,1.06773 8.09606,0c5.68684,-1.55648 8.56934,-5.77614 14.1681,-9c4.70868,-2.71133 5.89097,-4.29869 9.10806,-6c0.89225,-0.47186 2.17808,-0.76537 4.04803,0c3.96674,1.62359 5.52036,5.97326 12.14408,9c6.68713,3.0557 9.40449,3.29289 10.12007,4c0.71558,0.70711 1.60483,-0.41421 3.03602,1c0.71558,0.70711 0.70085,1.18601 2.02401,3c0.83683,1.14727 4.27342,1.72399 8.09606,5c3.24359,2.77979 6.46356,4.91761 9.10806,6c0.93498,0.38268 2.02401,0 4.04803,0c4.04803,0 10.33428,-1.71412 13.15609,-4c1.10679,-0.8966 2.02401,-1 5.06003,-1c1.01201,0 3.07521,0.48055 6.07204,0c3.15891,-0.50654 5.06003,-1 6.07204,-1c1.01201,0 2.02401,0 6.07204,0c2.02401,0 4.54013,0.82375 5.06003,3c0.23253,0.97325 2.02401,1 4.04803,1c2.02401,0 6.23322,-0.38935 9.10806,1c3.27781,1.5841 5.89097,5.29869 9.10806,7c0.89227,0.47186 3.03602,0 8.09606,0c7.08405,0 13.57312,-0.96855 17.20412,-3c2.49086,-1.39356 3.4898,-2.80565 5.06003,-7c1.44766,-3.867 2.02401,-8 2.02401,-11c0,-2 0.49211,-2.82375 1.01201,-5c0.23253,-0.97325 0,-3 1.01201,-4c2.02401,-2 5.06003,-2 6.07204,-2c1.01201,0 2.03387,-0.19708 4.04803,0c5.13514,0.50245 9.99718,1.49346 13.15609,2c2.99683,0.48055 4.04803,0 4.04803,1c0,1 0,2 0,4c0,3 -0.70085,6.18601 -2.02401,8c-0.83683,1.14727 -1.30843,1.29289 -2.02401,2c-0.71558,0.70711 -0.01306,1.83982 -1.01201,2c-3.15891,0.50654 -5.94915,4.49346 -9.10806,5c-1.99789,0.32036 -3.03602,0 -4.04803,0c-1.01201,0 -1.47632,-1.69344 -2.02401,-3c-0.38729,-0.92388 0,-3 0,-5c0,-3 -0.71558,-4.29289 0,-5c0.71558,-0.70711 1.81857,-1.2565 3.03602,-2c2.7223,-1.66251 4.88168,-3.48626 7.08405,-4c0.98492,-0.22975 3.06311,0.22975 4.04803,0c2.20237,-0.51374 4.04803,-1 6.07204,-1c3.03602,0 5.06003,0 6.07204,0c1.01201,0 2.17809,-0.76537 4.04803,0c1.32224,0.5412 2.10104,3.61732 3.03602,4c1.32224,0.5412 1.87497,3.1731 3.03602,4c1.83578,1.30745 3.22426,2.69255 5.06003,4c2.32208,1.65381 5.12684,3.87766 7.08405,5c3.15591,1.80972 5.06003,2 7.08405,2c1.01201,0 4.1207,-1.69125 9.10806,-3c3.09303,-0.81166 4.34445,-1.29289 5.06003,-2c0.71558,-0.70711 1.84566,-1.48626 4.04803,-2c0.98492,-0.22975 2.72579,-2.4588 4.04803,-3c0.93498,-0.38268 3.03602,-1 6.07204,-1c3.03602,0 6.09913,-1.22975 7.08405,-1c2.20237,0.51374 3.17061,3.5695 7.08405,5c2.12235,0.77579 4.07511,1.77025 5.06003,2c2.20237,0.51374 3.03602,1 4.04803,1c2.02401,0 5.06003,0 8.09606,0c2.02401,0 3.11305,-0.38268 4.04803,0c1.32227,0.5412 1.97194,2.2987 3.03602,4c1.18971,1.90211 3.81516,2.54863 8.09606,4c4.88091,1.65482 10.02674,2.49623 14.1681,3c3.01329,0.36655 4.04803,0 5.06003,0c1.01201,0 4.08984,-0.84723 8.09606,-2c3.07265,-0.88413 7.16107,-1.61732 8.09606,-2c1.32227,-0.5412 0.86216,-2.22836 2.02401,-5c0.5477,-1.30656 1.01201,-3 1.01201,-4c0,-3 1.01201,-5 1.01201,-7c0,-2 0,-5 0,-6c0,-1 -1.01201,-1 -2.02401,-1c-1.01201,0 -2.02401,0 -5.06003,0c-2.02401,0 -4.1148,0.87766 -6.07204,2c-3.15591,1.80972 -4.34445,3.29289 -5.06003,4c-0.71558,0.70711 -1.01201,1 -1.01201,3c0,1 0,4 0,7c0,1 -0.31113,2.18601 1.01201,4c0.83683,1.14727 4.04803,2 6.07204,3c2.02401,1 3.92511,1.49346 7.08405,2c1.99789,0.32037 3.92511,1.49346 7.08405,2c0.99891,0.16018 3.03602,0 5.06003,0c1.01201,0 1.30843,-0.29289 2.02401,-1c1.43116,-1.41422 3.03602,-1 4.04803,-1l0,-1l1.01201,0');
}


@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.centered-text {
  position: relative;  
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--header-font), var(--backup-font);
  animation: arise 1s;
  top: 40%;
}

#welcome-header{
  font-size: 6em;
  text-align: center;
}

#welcome-subheader{
  opacity: 0;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

#welcome-details{
  position: absolute;
  width: 100%;
  bottom: 5%;
  text-align: justify;
  opacity: 0;
  animation: fadeinMain 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#welcome-details p{
  width: 400px;
  padding: 10px;
  font-size: 1em;
}

#seperator{
  display: flex;
  position: relative;
  top: 0%;
  width: 100vw;
  object-fit: cover;
  height: 400px;
  z-index: -1;
}

.secondary-headers{
  font-family: var(--header-font), var(--backup-font);
  font-size: 28px;
  padding: 10px 0px;
}

#about{
  display: grid;
  grid-template-areas:
    "text image";
  margin: auto;
}

#about-img1, #contact-img1{
  grid-area: image;
  position: relative;
  height: 600px;  
}

#about-content{
  grid-area: text;
  width: 75%;
  padding: 20px 0px;
}

#about-header{
  position: relative;
  padding-bottom: 10px;
  opacity: 0;
  left: -75px;
}

.about-detail{
  position: relative;
  font-size: 20px;
  padding-top: 10px;
  text-align: justify;
  opacity: 0;
  left: -75px;
}

.animate #about-header{
  animation: animate-about 0.5s ease-in-out both;
}
.animate .about-detail{
  animation: animate-about 0.5s ease-in-out both;
  animation-delay: 0.5s;
}

@keyframes animate-about {
  0% {
    left: -75px;
    opacity: 0;
    color: red;
  }
  100% {
    left: 0px;
    opacity: 1;
    color: black;
  }
}

#projects{
  background-color:	var(--pink-background);
  max-width: 100vw !important;
  padding: 20px 0px;
}

#project-contents, #interest-container{
  position: relative;
  display: felx;
  flex-direction: column;
  max-width: var(--max-window-width);
}

#project-title{  
  padding: 20px 0px;
}

#project-title h1{
  position: relative;
  
  text-align: center;
  margin: auto;
  font-size: 5.5em;
  /*
  opacity: 0;
  left: -100px;
  */
}

#project-title p{
  position: relative;
  
  font-size: 2em;
  padding: 0px 10px;
  text-align: center;
  margin: auto;
  /*
  opacity: 0;
  left: -100px;
  */
}

/*
#project-title.animate h1{
  animation: animation 0.5s forwards;
}

#project-title.animate p{
  animation: animation 0.5s forwards;
  animation-delay: 0.2s;
}
*/

#project-holders{
  display: grid;
  grid-template-areas:
    "project1 project2 project3 project4";
  grid-auto-columns: min-content;
  justify-content: center;
  grid-gap: 10px;
  align-items: flex-start;
}

.project-display{
  display: inline-block;
  position: relative;
  top: 20px;
  opacity: 0;
}

#proj0 {
  grid-area: project1;
}
.animate #proj0{
  animation: animate-projects 0.5s ease-in-out both;
}

#proj1{
  grid-area: project2;
}
.animate #proj1{
  animation: animate-projects 0.5s ease-in-out both;
  animation-delay: 0.2s;
}

#proj2{
  grid-area: project3;
}
.animate #proj2{
  animation: animate-projects 0.5s ease-in-out both;
  animation-delay: 0.4s;
}

#proj3{
  grid-area: project4;
}
.animate #proj3{
  animation: animate-projects 0.5s ease-in-out both;
  animation-delay: 0.6s;
}

@keyframes animate-projects {
  0% {
    opacity: 0;
    top: 20px;
    transform: scale(0.80);
  }
  100% {
    opacity: 1;    
    top: 0px;
    transform: scale(1);
    
  }
}

.img-holder{
  width: 300px;
  height: 300px;
  overflow: hidden; 
  box-sizing: border-box;
  border-radius: 5px;
  border: 5px solid var(--grey-default);
}

.project-img{
  positon: relative;
  object-fit: cover;
  border-radius: inherit;
  width: inherit;
  height: inherit;
  overflow: hidden; 
  transition: .1s ease-in-out;
}

.overlay{
  positon: relative;
  word-wrap: break-word;
  background: var(--grey-default);
  margin: auto;
  width: inherit;
}

.overlay::before{
  content: "";
  position: absolute;
  background-color: var(--grey-default);
  width: 100%;
  height: 40px;
  bottom: 10px;
  z-index: 0;
}

.overlay p{
  position: relative;
  color: white;
  margin: 5px 0px;
  bottom: 10px;
  text-align: center;
  transition: .1s ease-in-out;
  font-size: 1em;
}

.overlay p::after{
  content: "";
  display: block; 
  height: 2px;
  width: 0%;
  margin: auto;
  justify-content: center;
  background-color: white;
  transition: .1s ease-in-out;
}

.project-display:hover .project-img{
  transform: scale(1.05);
} 

.project-display:hover p{
  transform: translateY(-2px);  
} 
.project-display:hover p::after{
  width: 75%;
}

#interests{
  max-width: 100vw !important;
  background-color: var(--grey-default);
  transition: 1s ease;
}

#interests::before, #interests::after{
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 10px;
  background: repeating-linear-gradient(
    90deg,
    rgb(255,0,0) 0px,
    rgb(255,0,0) 100px,
    rgb(255,165,0) 100px,
    rgb(255,165,0) 200px,
    rgb(255,255,0) 200px,
    rgb(255,255,0) 300px,
    rgb(0,128,0) 300px,
    rgb(0,128,0) 400px,
    rgb(0,0,255) 400px,
    rgb(0,0,255) 500px,
    rgb(128,0,128) 500px,
    rgb(128,0,128) 600px
  );
}

#interests-header{
  color: white;
  font-size: 4em;
  margin-left: 20%;
  padding-top: 10px;
}

.interest-item{
  font-size: 1.5em;
  margin-left: 20%;
  padding: 10px;
  color: white;
}

.interest-item:hover{
  margin-left: calc(20% + 10px);
  font-size: 1.55em;
}

.animate .interest-item{
  animation: interestAnimated 0.5s ease-in-out both;
}

#i1{
  color: red;
}
#i2{
  color: orange;
  animation-delay: 0.3s;
}
#i3{
  color: yellow;
  animation-delay: 0.4s;
}
#i4{
  color: green;
  animation-delay: 0.5s;
}
#i5{
  color: blue;
  animation-delay: 0.6s;
}
#i6{
  color: purple;
  animation-delay: 0.7s;
}

@keyframes interestAnimated{
  100%{
    color: white;
  }
}

#contact{
  padding: 30px 0px;
}

#contact-container{
  display: grid;
  grid-template-areas: 
    "cont-title cont-title"
    "cont-img cont-text";
  grid-column-gap: 50px;
  justify-content: center;
}
#contact-header{
  grid-area: cont-title;
}
#contact-img1{
  grid-area: cont-img;
  left: -100px;
  top: 10px;
}

#contact-holder{
  position: relative;
  grid-area: cont-text;
  right: -100px;
  top: 10px;
}

.animate #contact-img1,
.animate #contact-holder{
  animation: contact-animate 1s ease-in-out both;
}

#contact-links{
  display: flex;
  justify-content: start;
}

#contact-links a{
  font-family: var(--menu-font), var(--backup-font);
  color: black;
  font-weight: bold;
  margin: 10px 10px 0px 0px;
  font-size: 2em;
}

#contact-links a:hover{
  color: deepskyblue;
}

@keyframes contact-animate{
  100%{
    left: 0px;
    right: 0px;
    top: 0px;
  }
}

footer{
  width: 100%;
  display: felx;
  justify-content: center;
  margin: auto;
}

#footer-container{
  background-color: black;
  width: inherit;
  padding: 50px 20px;
}
footer p{
  text-align: center;
  font-family: var(--menu-font), var(--backup-font);
  color: white;
}
#date{
  font-size: 0.75em;
  padding-top: 5px;
}

#bt{
  padding-top: 10px;
  font-size: 0.5em;
}
#bt:hover{
  color: red;
}

@keyframes fadeinMain{
  0%
  {
      opacity: 0;
  }  
  100%
  {
      opacity: 1;
  }  
}

@keyframes arise {
  0%{ 
    top: 45%;
    opacity: 0;
    color: pink;
  }
  100%{ 
    opacity: 1;
    top: 40%;
    
  }
}
@media only screen and (max-width: 1200px){
  #welcome-header{
    font-size: 5.5em;
  }
  #project-holders{
    grid-template-areas:
      "project1 project2" 
      "project3 project4";
  }

}

@media only screen and (max-width: 960px){
  #welcome-header{
    font-size: 5.5em;
  }
  #about{
   grid-template-areas:
    "text"
    "image"
     ;
  }
  #about-content{
    width: 95%;
  }
  .img-holder{
    width: 300px;
    height: 300px;
  }
  .overlay p{
    font-size: 1.5em;
    top: -2px;
    margin-top: -5px;
  }
}

@media only screen and (max-width: 900px){
  .centered-text{
    top: 20% !important;
  }
  #welcome-subheader{
    padding-top: 20px;
  }
}

@media only screen and (max-width:700px){
  #welcome-header{
    font-size: 4em;
  }
}

@media only screen and (max-width: 500px){
  #navback{
    display: none;
  }
}

@media only screen and (max-height: 650px){
  #welcome-details p{
    display: none;
  }
}
  
@media only screen and (max-height: 500px){
  #welcome-details p{
    display: none;
  }
}

@media only screen and (max-device-width: 1200px){
  #seperator{
    top: 5%;
  }
  
  #welcome-section{
    max-height: 100vh;
  }
  
  #welcome-header{
    top: 15%;
    animation: arise-mobile 1s;
  }
  
  #welcome-subheader{
    font-size: 4em;
    opacity: 1;
    top: 15%;
    padding-top: 10px;
    animation: arise-mobile 1s;
  }
  
  #welcome-details p{
    width: 600px;
    font-size: 2.5em;
  }
  
  #about-header{
    font-size: 2.75em;
  }

  .about-detail{
    font-size: 2.5em;
  }
  
  #project-holders{
    grid-template-areas:
      "project1 project2" 
      "project3 project4";
  }
  
  .img-holder{
    width: 400px;
    height: 400px;
  }
  
  .overlay p{
    font-size: 1.5em;
    top: -2px;
    margin-top: -5px;
  }
}
  
@media only screen and (max-device-width: 960px){
  #welcome-header{
    font-size: 5.5em;
  }
  #about{
    grid-template-areas:
      "text"
      "image"
      ;
  }
  #about-content{
    width: 95%;
  }
}

@media only screen and (max-device-width: 800px){
  #navback{
    display: none;
  }
  #welcome-header{
    font-size: 10em;
  }
  #welcome-subheader{
    font-size: 4em;
  }
  #welcome-details p{
    width: 600px;
    font-size: 2.5em;
  }
}

@keyframes arise-mobile {
  0%{ 
    top: 20%;
    opacity: 0;
    color: pink;
  }
  100%{ 
    opacity: 1;
    top: 15%;
    
  }
}